.sign-in {
    width: 380 px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}